body {
    background-image:url("https://media.istockphoto.com/vectors/vector-abstract-gray-triangles-background-vector-id529947911?k=6&m=529947911&s=612x612&w=0&h=1dQJJ2AUhiJ64JcoMvCWJPXFWjc49rrgcN6Cjbmhe78=") ;
    background-repeat:no-repeat;
    background-size: cover;
}
header { margin-top: 10px; }
h2 header a { color:red; text-decoration: aquamarine; }
header a:hover { text-decoration: none; }
form { margin-top: 20px; }
form, #results { padding: 0 20px; }
.item { margin-bottom: 25px; }
.w100 { width: 100%; }

.btn-primary { background: red; border-color: darkred; }
.btn-primary:hover, .btn-primary:active, .btn-primary:focus { background: red ; border-color: darkred; }
