<html ng-app><head><script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>

    <script>
var hangmanController = function($scope) {

$scope.board = [
  [ { value: '-' }, { value: '-' }, { value: '-' } ],
  [ { value: '-' }, { value: '-' }, { value: '-' } ],
  [ { value: '-' }, { value: '-' }, { value: '-' } ]
];

$scope.reset = function() {
  // TODO: set each cell.value = '-'
  
  $scope.currentPlayer = 'X';
  $scope.winner = false;
  $scope.cat = false;
};

$scope.reset();

$scope.isTaken = function(cell) {
  return cell.value !== '-';
};

var checkForMatch = function(cell1, cell2, cell3) {
  return cell1.value === cell2.value && 
         cell1.value === cell3.value &&
         cell1.value !== '-';
};

var checkForEndOfGame = function() {
  // TODO: check for a rowMatch, columnMatch, or diagonalMatch
  
  // $scope.winner = rowMatch || columnMatch || diagonalMatch;
  
  // TODO: if we don't have a winner, check for cat
  
  return $scope.winner || $scope.cat;
};

$scope.move = function(cell) {
  cell.value = $scope.currentPlayer;
  if (checkForEndOfGame() === false) {
    $scope.currentPlayer = $scope.currentPlayer === 'X' ? 'O' : 'X';
  }
};

};

    </script>
  </head>
  <style>
  *{
  text-align: center;
  font-family: "Courier"
}

body {
  padding: 20px 40px;
  font-family: "Verdana";
}

h1 {
  margin: 20px;
}

.t3cell {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
}
  </style>
  
  <body ng-controller="hangmanController">
    <h1>Tic Tac Toe!</h1>
    
    <div class="container">
      <div class="well">
        <div><button class="btn-primary btn-lg" ng-repeat="cell in board[0]" ng-disabled="isTaken(cell);" ng-click="move(cell);">{{ cell.value }}</button></div>
        <div><button class="btn-primary btn-lg" ng-repeat="cell in board[1]" ng-disabled="isTaken(cell);" ng-click="move(cell);">{{ cell.value }}</button></div>
        <div><button class="btn-primary btn-lg" ng-repeat="cell in board[2]" ng-disabled="isTaken(cell);" ng-click="move(cell);">{{ cell.value }}</button></div>
        <br/>
        <p>
          <span ng-hide="winner || cat">Current Player: {{ currentPlayer }}</span>
          <span ng-show="winner">Player {{ currentPlayer }} won!</span>
          <span ng-show="cat">Cat</span>
        </p>
      </div>
    </div>
          
    <button ng-click="reset();" class="btn btn-primary btn-large">New Game</button>
  </body>
</html>